@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.65s ease-out forwards;
  }

  .animate-fade-out {
    animation: fadeOut 0.65s ease-out forwards;
  }
}

.page-transition {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #5623E2;
  z-index: 9999;
  transform: translateX(0);
  transition: transform 800ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
}

.page-transition-in {
  transform: translateX(-100%);
}

/* Block slides out */
.page-transition-out {
  transform: translateX(-200%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .page-transition {
    font-size: 4rem; /* Smaller font size for tablets and smaller screens */
  }
}

@media (max-width: 480px) {
  .page-transition {
    font-size: 2rem; /* Even smaller font size for phones */
    padding: 20px; /* Add some padding to prevent text from touching edges */
    text-align: center; /* Center text alignment */
  }
}
